<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checador de taxis </title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
    <h1>Checador de Bicitaxis y Mototaxis</h1>
    <p>Sistema de control y registro de tiempo</p>
    <hr>
    <h2>Menu principal</h2>
    <ul>

        <li>
            <a href="/operadores">
                Ver operadores
            </a>
        </li>

        <li>
            <a href="/vehiculos">
                Ver vehiculos
            </a>
        </li>

        <li>
            <a href="/checadas">
                Ver checadas
            </a>
        </li>

        <li>
            <a href="/rutas">
                Ver rutas
            </a>
        </li>

    </ul>

</body>
</html>